/* Body font */
body {
  font-family: 'Courier New', Courier, monospace;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Times New Roman', Times, serif;
  margin: 1.5rem 0 1rem;
}

h1 {
  margin: 4rem 0 3rem;;
}
h2 {
  margin: 2.5em 0 1rem;;
}

/* Main container */
#flex-container {
  display:flex;
  flex-direction:column;

  /* fallback height */
  min-height:100vh;

  /* new small viewport height for modern browsers */
  min-height:100svh;
}


/* Footer */
#flex-container > footer {
  margin-top:auto;
  color: white;
  background-color: #444444;
  height: 5rem;
  text-align: center;
}

/* Alignment */
.text-center {
  text-align: center;
}


/* Paragraph / Div margins */
div, p {
  margin: 1rem 0;
  padding: 0.5rem;
}


/* Lists */
.nobullets {
  list-style: none;
}

ul li {
  margin: 0.5rem 0;
}

/* Links */
a, a:visited, a:hover, a:active {
  color: #256cce;
  text-decoration: none;
}

/* Spacing */
.space-vertical {
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}


/* Font sizes */
.text-huge {
  font-size: x-large;
}
.text-large {
  font-size: large;
}
.text-larger {
  font-size: larger;
}
.text-small {
  font-size: small;
}
.text-smaller {
  font-size: smaller;
}
.text-tiny {
  font-size: x-small;
}
